  body,
  html {
    margin: 0;
    padding: 0;
    color: white;
    width: 100vw;
    margin: auto;
    text-align: center;
    min-height: 100vh;
    font-family: "Slackey", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .tablero-puntaje {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    align-items: center;
    border-radius: 10px;
  }

  .imagen-portada {
    width: 440px;
    margin: 0 3rem;
  }

  .imagen-portada img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .puntajes {
    width: 12rem;
    font-weight: bold;
    border: 5px solid #1b186e;
    font-size: 2rem;
    height: 7rem;
  }

  .puntajes h2 {
    color: rgb(4, 238, 255);
    background-color: #1b186e;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    font-weight: bold;
  }

  .contenedor-juego{
    display: flex;
    justify-content: space-between;
  }

  .tablero-container {
    display: flex;
    justify-content: space-between;
  }

  .tablero-juego {
    max-width: 440px;
    margin: auto;
    position: relative;
    border: 10px solid rgb(76, 64, 255);
    background-color: #1b186e;
  }

  .fila {
    display: flex;
    width: 100%;
  }

  .celda {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1PX solid rgba(0, 0, 0, 0.13);
  }

  .celda-activa-cuadrado {
    background-color: #ff6347;
  }

  .celda-activa-L1 {
    background-color: #4682b4;
  }

  .celda-activa-L2 {
    background-color: #32cd32;
  }

  .celda-activa-T {
    background-color: #ff4500;
  }

  .celda-activa-linea {
    background-color: #8a2be2;
  }

  .celda-activa-S {
    background-color: #00fa9a;
  }

  .celda-activa-Z {
    background-color: #ff1493;
  }

  .celda-ocupada {
    background-color: #fbff00;
  }

  .miniatura-pieza {
    width: 200px; /* Ajustamos el tamaño de la miniatura */
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(62, 242, 255);
    background-image: linear-gradient(to bottom, #1e3a8a, #3b82f6); /* Degradado azul de arriba hacia abajo */
    border-radius: 10px; /* Opcional: para bordes redondeados */
    border-top: none;
    margin-left: 1vw;
  }

  .miniatura-pieza2 {
    width: 200px; /* Ajustamos el tamaño de la miniatura */
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(62, 242, 255);
    background-image: linear-gradient(to bottom, #1e3a8a, #3b82f6); /* Degradado azul de arriba hacia abajo */
    border-radius: 10px; /* Opcional: para bordes redondeados */
    border-top: none;
    margin-left: 1rem;
  }

  .ficha-guardada h2 {
    margin: 0;
    font-size: 2.9rem;
    color: rgb(4, 238, 255);
    font-weight: bold;
    top: 17px;
    position: relative;
  }

  .pieza .fila-pieza {
    display: flex;
}

.pieza .celda-pieza {
    width: 30px; /* Ajusta el tamaño de las celdas en la miniatura */
    height: 30px;
    box-sizing: border-box;
}

.tabler-punticos{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 4vw;
}

.nivel-maximo{
  width: 200px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(62, 242, 255);
    background-image: linear-gradient(to bottom, #1e3a8a, #3b82f6);
    border-radius: 10px;
    border-top: none;
    margin: 0;
    font-size: 6rem;
}

.lista-control{
  width: 200px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(62, 242, 255);
    background-image: linear-gradient(to bottom, #1e3a8a, #3b82f6);
    border-radius: 10px;
    border-top: none;
    margin: 0;
    flex-direction: column;
}

.sin-reserva{
  width: 200px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(62, 242, 255);
  background-image: linear-gradient(to bottom, #1e3a8a, #3b82f6);
  border-radius: 10px;
  border-top: none;
  margin: 0;
}

.tablero-nivel, .ficha-siguiente, .tabler-control, .ficha-guardada{
  width: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.game-over, .btn-play-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-gamer, .btn-play {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.titulo-gamer {
  font-size: 7rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 0;
}

.btn-reintentar, .btn-play {
  background-image: linear-gradient(to bottom, #208020, #32cd32); /* Degradado de arriba hacia abajo */
  color: white;
  font-size: 2rem;
  padding: 1rem 3rem;
  border: 3px solid white;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-reintentar:hover, .btn-play:hover {
  background-image: linear-gradient(to bottom, #208020, #32cd32); /* Degradado de arriba hacia abajo, en hover con un verde más oscuro en la parte superior */
}

.ficha-siguiente {
  display: flex; /* Usamos Flexbox para alinear los elementos */
  flex-direction: column; /* Colocamos los elementos en una columna */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  margin: 0; /* Elimina márgenes adicionales */
  text-align: center; /* Alinea el texto en el centro */
}

.titul-siguiente, .titulo-nivel, .titul-control {
  margin: 0;
  font-size: 2.5rem;
  color: rgb(4, 238, 255);
  font-weight: bold;
  top: 17px;
  position: relative;
}

.miniatura-pieza, .miniatura-pieza2 {
  width: 200px; /* Ajustamos el tamaño de la miniatura */
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(62, 242, 255);
  background-image: linear-gradient(to bottom, #1e3a8a, #3b82f6); /* Degradado azul de arriba hacia abajo */
  border-radius: 10px; /* Opcional: para bordes redondeados */
  border-top: none;
  margin: 0; /* Añadido un margen superior para separar la miniatura del título */
}